body{
    text-align: center;
    background-color: #00008B;

}
#Id


{
    width: 100%;
  
}

h1{
  height: 150px;
  
    color: #C308A7;
        

  background-color:  #0000CD;
 <!---
define a cor de fundo do título principal
--->
  font-size: 80px;
   <!---
define a altura do título principal
--->
  font-style: italic;
 
}
h2{
    Color: #000000;
 <!---
define a cor do segundo título
--->
}







