corpo {
    text-align : centro;
    cor de fundo :  #00008B ;

}
# ID


{
    largura :  100 % ;
  
}

h1 {
  altura :  150px ; _
  
    
  cor de fundo :   #0000CD ;

  tamanho da fonte : 80px;
  
  estilo da fonte :  itálico ;
 
}
h2 {
    Cor :    # 000000 ; 

}
